<!DOCTYPE html>
<html>
<head></head>
<body>
    
<!--<div class="tab">
  <button class="tablinks active"><%= link_to "Home", home_path, class: "prettyLink" %></button>
  <button class="tablinks"><%= link_to "Courses", courses_path, class: "prettyLink" %></button>
  <button class="tablinks"><%= link_to "Contact Us", contact_path, class: "prettyLink" %></button>
  <button class="tablinks"><%= link_to "Log In", login_path, method: :get, class: "prettyLink" %></button>
</div>-->

<div id="Home">
  <h1></h1>
  <div class= "logo">
    <%= image_tag("MassageContEdu.png", width: '1100px', align: 'center') %>
  </div>
  <div class= "bio">
    <%= image_tag("bettyBio.png", width: '1100px', align: 'center') %>
  </div>
  <div class= "Why study with Betty">
    <%= image_tag("Temp_whystudywithB.png", width: '1100px', align: 'center') %>
  </div>
</div>

</body>
</html> 