<div>
  <span class="h3">Ingrese nuevos detalles de la clase:</span>
</div>
<br>

<%= form_for Offering.new do |f| %>
    <div class="form-group">
      <%= f.label :course_id, "Clase #:" %>
      <%= f.text_field :course_id, class: "form-control", readonly: true, value: @course_id %>
    </div>
    <div class="form-group">
      <%= f.label :courseDate, "Fecha:" %>
      <%= f.datetime_select :courseDate, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :coursePrice, "Precio de la clase:" %>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <%= f.text_field :coursePrice, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :courseNotes, "Otras notas:" %>
      <%= f.text_field :courseNotes, class: "form-control" %>
    </div>

    <%= f.submit "Enviar", class: "btn btn-default" %>
<% end %>
