<div>
  <span class="h3">Enter new course offering details:</span>
</div>
<br>

<%= form_for Offering.new do |f| %>
    <div class="form-group">
      <%= f.label :course_id, "Course #:" %>
      <%= f.text_field :course_id, class: "form-control", readonly: true, value: @course_id %>
    </div>
    <div class="form-group">
      <%= f.label :courseDate, "Offering Date:" %>
      <%= f.datetime_select :courseDate, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :coursePrice, "Offering Price:" %>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <%= f.text_field :coursePrice, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :courseNotes, "Offering Notes:" %>
      <%= f.text_field :courseNotes, class: "form-control" %>
    </div>

    <%= f.submit "Submit", class: "btn btn-default" %>
<% end %>
