<p id="notice"><%= notice %></p>

<div>
    <span class="h2">Usuarios</span>
</div>
<br>

<table id="offerings" class="table">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to "Ver Usuario", user %>
          |
          <%= link_to "Editar Usuario", edit_user_path(user) %>
          |
          <%= link_to "Borrar Usuario", user, method: :delete, data: {confirm: "Estas seguro de borrar este usuario con toda su informacion?"} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Usuario', new_user_path %>
