<p id="notice"><%= notice %></p>

<div>
    <span class="h2">Users</span>
</div>
<br>

<table id="offerings" class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to "View Profile", user %>
          |
          <%= link_to "Edit User", edit_user_path(user) %>
          |
          <%= link_to "Delete User", user, method: :delete, data: {confirm: "Are you sure you want to delete this user?"} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
