<<<<<<< HEAD
<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
=======
Enter new User Information: <br />
<%= form_for User.new do |f| -%>
    Name: <%= f.text_field :name %> <br />
    Email: <%= f.text_field :email %> <br />
    Phone: <%= f.text_field :phone %> <br />
    Address:<%= f.text_field :address %> <br />
    Admin:<%= f.text_field :admin %> <br />
    License:<%= f.text_field :license %> <br />
    Password:<%= f.text_field :password %> <br />
    Confirm Password:<%= f.text_field :password_confirmation %> <br />
    <%= f.submit %>
<% end -%>
>>>>>>> 2aa709b3c34b9c3ea13513c356d06320ba63260b
