<% provide(:title, 'Sign up') %>
<h1>Crear Cuenta</h1>

<!--Enter new User Information: <br />-->
<%= form_for User.new do |f| -%>
    <%= render 'shared/error_messages' %>
    <%= f.label "Nombre" %> <%= f.text_field :name, class: 'form-control'%> <br />
    <%= f.label "Email" %> <%= f.text_field :email,  class: 'form-control'%> <br />
    <%= f.label "Telefono" %> <%= f.text_field :phone,  class: 'form-control'%> <br />
    <%= f.label "Dirección" %> <%= f.text_field :address,  class: 'form-control'%> <br />
    <%= f.label "Número de licencia" %> <%= f.text_field :license,  class: 'form-control'%> <br />
    <%= f.label "Password" %><%= f.password_field :password,  class: 'form-control'%> <br />
    <%= f.label "Confirma tu Password " %><%= f.password_field :password_confirmation,  class: 'form-control'%> <br />
    <%= f.submit "Crear mi cuenta", class: "btn btn-primary" %>
<% end -%>
