<p id="notice"><%= notice %></p>

<h3>
  <%= @user.name %>
</h3>

<div class="profile">
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= @user.phone %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= @user.address %>
  </p>

  <p>
    <strong>Licencia:</strong>
    <%= @user.license %>
  </p>

  <%= link_to 'Editar tu profile', edit_user_path(@user) %>
</div>

<br>

<% unless @user.admin? %>
    <div class="panel panel-default">
      <div class="panel-heading">Lista de clases activas</div>
      <table class="table">
        <thead>
        <tr>
          <th>Course Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <% @active_offerings.each do |offering| %>
            <tr>
              <td><%= offering.course.courseName %></td>
              <td><%= offering.courseDate.strftime("%D") %></td>
              <td><%= offering.courseTime.strftime("%-I:%M %p") %></td>
              <td><%= offering.course.courseDesc %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Lista clases tomadas</div>
      <table class="table">
        <thead>
        <tr>
          <th>Course Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <% @past_offerings.each do |offering| %>
            <tr>
              <td><%= offering.course.courseName %></td>
              <td><%= offering.courseDate.strftime("%D") %></td>
              <td><%= offering.courseTime.strftime("%-I:%M %p") %></td>
              <td><%= offering.course.courseDesc %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

<% end %>