<div>
  <span class="h3">Update course details:</span>
</div>
<br>

<%= form_for @course do |f| %>
    <div class="form-group">
      <%= f.label :courseName, "Course Name:" %>
      <%= f.text_field :courseName, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :courseDesc, "Course Description:" %>
      <%= f.text_field :courseDesc, class: "form-control" %>
    </div>

    <%= f.submit "Save Changes", class: "btn btn-default" %>
<% end %>
