<div>
  <span class="h3">Editar los detalles del curso:</span>
</div>
<br>

<%= form_for @course do |f| %>
    <div class="form-group">
      <%= f.label :courseName, "Nombre del curso:" %>
      <%= f.text_field :courseName, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :courseDesc, "Breve descripción:" %>
      <%= f.text_area :courseDesc, class: "form-control", rows: '4' %>
    </div>
    <div class="form-group">
      <%= f.label :thumbnail, "Thumbnail image" %>
      <%= f.file_field :thumbnail %>
    </div>

    <%= f.submit "Guardar", class: "btn btn-default" %>
<% end %>
