<div>
  <span class="h1">Descripción de las clases</span>
</div>
<div class= "Neuromuscular&Prenatal">
    <%= image_tag("nmnatal.png", width: '1100px', align: 'center') %>
</div>
<div class= "triggerpointdeeptissue">
    <%= image_tag("tpdt.png", width: '1100px', align: 'center') %>
</div>
<div class= "sports">
    <%= image_tag("sports.png", width: '1100px', align: 'center') %>
</div>
<div class= "drenaje">
    <%= image_tag("drenaje.png", width: '1100px', align: 'center') %>
</div>
<br>
<div>
  <span class="h1">Horiario de Clases</span>
</div>
<% @courses.each_with_index do |course, i| %>
    <%= link_to course_path(course), class: 'btn btn-default btn-lg btn-course', role: 'button' do %>
        <span><%= course.courseName %></span>
    <% end %>
<% end %>

<% if admin? %>
    <%= link_to new_course_path, class: 'btn btn-default btn-primary btn-lg btn-course', role: 'button' do %>
        <span>Agregar Nueva Clase</span>
    <% end %>
<% end %>