<h1>Courses</h1>
 
 <table id="courses">
   <thead>
   <tr>
     <th>Course ID</th>
     <th>Course Name</th>
     <th>Description</th>
   </tr>
   </thead>
   <tbody>
   <% @courses.each do |course| %>
       <tr>
         <td><%= course.id %></td>
         <td><%= course.courseName %></td>
         <td><%= course.courseDesc %></td>
         <td><%= link_to "Offerings", offering_path(course.id) %></td>
       </tr>
   <% end %>
   </tbody>
 </table>
 <%= link_to 'Add new course', new_course_path %>
