<div>
  <span class="h3">Ingrese nuevos detalles del curso:</span>
</div>
<br>

<%= form_for Course.new do |f| %>
    <div class="form-group">
      <%= f.label :courseName, "Nombre del curso:" %>
      <%= f.text_field :courseName, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :courseDesc, "Descripción de la curso:" %>
      <%= f.text_field :courseDesc, class: "form-control" %>
    </div>

    <%= f.submit "Guardar", class: "btn btn-default" %>
<% end %>
