<div class="media course-header">
  <% if @course.thumbnail? %>
      <div class="media-left">
        <%= image_tag(@course.thumbnail.url, alt: 'Thumbnail') %>
      </div>
  <% end %>
  <div class="media-body">
    <div class="media-heading">
      <span class="h2"><%= @course.courseName %></span>
      &nbsp;
      <% if admin? %>
          <%= link_to "Editar Curso", edit_course_path(@course) %>
          |
          <%= link_to "Eliminar Curso", @course, method: :delete, data: {confirm: "¿Seguro que quieres eliminar esta curso?"} %>
      <% end %></div>
    <span class="h2"><small><%= @course.courseDesc %></small></span>
  </div>
</div>
<br>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Clases</div>

  <table id="offerings" class="table">
    <thead>
    <tr>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Notas</th>
      <th>Precio</th>
      <th>
        <% if admin? %>
            Admin
        <% else %>
            Registracion
        <% end %>
      </th>
    </tr>
    </thead>
    <tbody>
    <% @offerings.each do |offering| %>
        <tr>
          <td><%= offering.courseDate.strftime("%D") %></td>
          <td><%= offering.courseTime.strftime("%-I:%M %p") %></td>
          <td><%= offering.courseNotes %></td>
          <td><%= number_to_currency(offering.coursePrice) %></td>
          <td>
            <% if admin? %>
                <%= link_to "Editar clase", edit_offering_path(offering) %>
                |
                <%= link_to "Eliminar clase", offering, method: :delete, data: {confirm: "¿Seguro que quieres eliminar esta ofrenda?"} %>
            <% elsif session[:user_id] %>
                <% if @registered_offering_ids.include? offering.id %>
                    Te has registrado para esta ofrenda de curso.
                <% else %>
                    <%= link_to "¡Pulse aquí para registrarse!", rosters_path(roster: {user_id: session[:user_id], offering_id: offering.id}), method: :post %>
                <% end %>
            <% else %>
                ¡Inicia sesión para registrarte!
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
    <% if admin? %>
        <tfoot>
        <tr>
          <td colspan="5" align="center">
            <%= link_to "Agregar Nueva Ofrenda", new_offering_path(course_id: @course), class: 'btn btn-default btn-primary', role: 'button' %>
          </td>
        </tr>
        </tfoot>
    <% end %>
  </table>
</div>
